table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}
tr {
    height: 5vh;
}
th, td {    
    font-weight: 900;
    font-size: medium;
    margin: 0px;
}
th {border: 2px solid var(--accent) ;
    border-top: 1px solid var(--accent);}
.thl {border-left: none;}
.thr {border-right: none;}

.t10 {width: 10%;}
.t8 {width: 8%;}
.t5 {width: 5%;}
.t3 {width: 3%;}
.tPlaca {width: 17vh;}

.pb {border-bottom: 1px solid var(--accent);}
.pm {border-left: 1px dashed var(--accent);
     border-right: 1px dashed var(--accent);}

thead {
    position: sticky;
    top: 0;
    z-index: 10;
}
thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--bg-lighter);
}
