-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: controlexp2
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `controlexp2`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `controlexp2` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci */;

USE `controlexp2`;

--
-- Table structure for table `aceite_detalle`
--

DROP TABLE IF EXISTS `aceite_detalle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aceite_detalle` (
  `id_ad` int(11) NOT NULL AUTO_INCREMENT,
  `id_al` int(11) DEFAULT NULL,
  `id_marca_aceite` int(11) DEFAULT NULL,
  `precio_ingresado` decimal(10,2) DEFAULT NULL,
  `stock` decimal(10,3) DEFAULT NULL,
  `estado` enum('Agotado','En Uso','Almacen') DEFAULT NULL,
  PRIMARY KEY (`id_ad`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aceite_detalle`
--

LOCK TABLES `aceite_detalle` WRITE;
/*!40000 ALTER TABLE `aceite_detalle` DISABLE KEYS */;
INSERT INTO `aceite_detalle` VALUES (4,14,1,0.00,3.000,'Almacen'),(5,15,1,0.00,3.000,'Almacen'),(6,15,2,0.00,2.000,'Almacen'),(9,17,1,300.00,2.000,'Almacen'),(10,17,2,1000.00,3.000,'Almacen'),(11,18,1,150.00,1.000,'Almacen'),(13,20,2,600.00,2.000,'Almacen');
/*!40000 ALTER TABLE `aceite_detalle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aceite_flota`
--

DROP TABLE IF EXISTS `aceite_flota`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aceite_flota` (
  `id_af` int(11) NOT NULL AUTO_INCREMENT,
  `id_ad` int(11) DEFAULT NULL,
  `placa` varchar(10) DEFAULT NULL,
  `cantidad` decimal(10,3) DEFAULT NULL,
  `estado` enum('En Uso','Agotado') DEFAULT 'En Uso',
  `fecha_uso` date DEFAULT NULL,
  PRIMARY KEY (`id_af`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aceite_flota`
--

LOCK TABLES `aceite_flota` WRITE;
/*!40000 ALTER TABLE `aceite_flota` DISABLE KEYS */;
INSERT INTO `aceite_flota` VALUES (5,4,'1803-BNE',5.813,'En Uso','2026-09-07'),(6,9,'1803-BNE',5.813,'En Uso','2026-09-10'),(7,9,'1234-ABC',1.938,'En Uso','2026-09-12'),(8,10,'1234-ABC',0.750,'En Uso','2026-09-12'),(11,13,'1234-ABC',15.000,'En Uso','0000-00-00');
/*!40000 ALTER TABLE `aceite_flota` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aceite_lote`
--

DROP TABLE IF EXISTS `aceite_lote`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aceite_lote` (
  `id_al` int(11) NOT NULL AUTO_INCREMENT,
  `precio_total` decimal(10,2) DEFAULT NULL,
  `precio_estimado` decimal(10,2) DEFAULT NULL,
  `precio_real` decimal(10,2) DEFAULT NULL,
  `estado_precio` enum('Subio','Bajo','Mantuvo') DEFAULT NULL,
  `cantidad` int(11) NOT NULL DEFAULT 0,
  `stock_total` decimal(10,3) DEFAULT NULL,
  `estado` enum('Operativo','Eliminado') NOT NULL DEFAULT 'Operativo',
  `fecha_compra` date DEFAULT NULL,
  PRIMARY KEY (`id_al`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aceite_lote`
--

LOCK TABLES `aceite_lote` WRITE;
/*!40000 ALTER TABLE `aceite_lote` DISABLE KEYS */;
/*!40000 ALTER TABLE `aceite_lote` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle`
--

DROP TABLE IF EXISTS `detalle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detalle` (
  `id_detalle` int(11) NOT NULL AUTO_INCREMENT,
  `detalle` varchar(255) DEFAULT NULL,
  `tipo` varchar(10) DEFAULT NULL,
  `gasto_particular` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`id_detalle`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle`
--

LOCK TABLES `detalle` WRITE;
/*!40000 ALTER TABLE `detalle` DISABLE KEYS */;
/*!40000 ALTER TABLE `detalle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_estimado`
--

DROP TABLE IF EXISTS `detalle_estimado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detalle_estimado` (
  `id_detalle_estimado` int(11) NOT NULL AUTO_INCREMENT,
  `id_gasto_estimado` int(11) DEFAULT NULL,
  `detalle` varchar(255) DEFAULT NULL,
  `gasto_particular` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`id_detalle_estimado`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_estimado`
--

LOCK TABLES `detalle_estimado` WRITE;
/*!40000 ALTER TABLE `detalle_estimado` DISABLE KEYS */;
/*!40000 ALTER TABLE `detalle_estimado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `diesel`
--

DROP TABLE IF EXISTS `diesel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `diesel` (
  `id_diesel` int(11) NOT NULL AUTO_INCREMENT,
  `precio_x_litro` decimal(10,2) DEFAULT NULL,
  `fecha_guardado` date DEFAULT NULL,
  `estado` enum('activo','baja') DEFAULT 'activo',
  `litros_comprados_totales` decimal(10,2) DEFAULT NULL,
  `precio_total_pagado` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`id_diesel`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `diesel`
--

LOCK TABLES `diesel` WRITE;
/*!40000 ALTER TABLE `diesel` DISABLE KEYS */;
/*!40000 ALTER TABLE `diesel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flota`
--

DROP TABLE IF EXISTS `flota`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `flota` (
  `placa` varchar(10) NOT NULL,
  `propietario` varchar(150) DEFAULT NULL,
  `chofer1` int(11) DEFAULT NULL,
  `chofer2` int(11) DEFAULT NULL,
  `id_fe` int(11) DEFAULT NULL,
  `id_u` int(11) DEFAULT NULL,
  `viajes` int(11) DEFAULT NULL,
  `viajes_aceite` int(11) NOT NULL,
  `capacidad_aceite` decimal(10,3) NOT NULL DEFAULT 0.000,
  `aceite_actual` decimal(10,3) NOT NULL DEFAULT 0.000,
  PRIMARY KEY (`placa`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flota`
--

LOCK TABLES `flota` WRITE;
/*!40000 ALTER TABLE `flota` DISABLE KEYS */;
/*!40000 ALTER TABLE `flota` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flota_estados`
--

DROP TABLE IF EXISTS `flota_estados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `flota_estados` (
  `id_fe` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_estado_flota` varchar(25) DEFAULT NULL,
  PRIMARY KEY (`id_fe`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flota_estados`
--

LOCK TABLES `flota_estados` WRITE;
/*!40000 ALTER TABLE `flota_estados` DISABLE KEYS */;
INSERT INTO `flota_estados` VALUES (1,'Parqueado'),(2,'Viajando'),(3,'Mecanico');
/*!40000 ALTER TABLE `flota_estados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gasto`
--

DROP TABLE IF EXISTS `gasto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gasto` (
  `id_gasto` int(11) NOT NULL AUTO_INCREMENT,
  `id_rep` int(11) DEFAULT NULL,
  `titulo` varchar(100) DEFAULT NULL,
  `gasto_generico` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`id_gasto`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gasto`
--

LOCK TABLES `gasto` WRITE;
/*!40000 ALTER TABLE `gasto` DISABLE KEYS */;
/*!40000 ALTER TABLE `gasto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gasto_estimado`
--

DROP TABLE IF EXISTS `gasto_estimado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gasto_estimado` (
  `id_gasto_estimado` int(11) NOT NULL AUTO_INCREMENT,
  `titulo` varchar(100) DEFAULT NULL,
  `gasto_generico` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`id_gasto_estimado`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gasto_estimado`
--

LOCK TABLES `gasto_estimado` WRITE;
/*!40000 ALTER TABLE `gasto_estimado` DISABLE KEYS */;
/*!40000 ALTER TABLE `gasto_estimado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marca_aceite`
--

DROP TABLE IF EXISTS `marca_aceite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `marca_aceite` (
  `id_marca_aceite` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_marca_aceite` varchar(100) NOT NULL,
  `cantidad` decimal(10,3) NOT NULL DEFAULT 0.000,
  `precio` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`id_marca_aceite`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marca_aceite`
--

LOCK TABLES `marca_aceite` WRITE;
/*!40000 ALTER TABLE `marca_aceite` DISABLE KEYS */;
INSERT INTO `marca_aceite` VALUES (1,'marca',0.000,150.00),(2,'santos',30.000,300.00);
/*!40000 ALTER TABLE `marca_aceite` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marca_rueda`
--

DROP TABLE IF EXISTS `marca_rueda`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `marca_rueda` (
  `id_marca_rueda` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_marca_rueda` varchar(100) NOT NULL,
  `precio_unitario` decimal(10,2) NOT NULL,
  `medida` decimal(10,2) DEFAULT NULL,
  `serie` varchar(50) DEFAULT NULL,
  `trilla` varchar(50) DEFAULT NULL,
  `aro` varchar(50) DEFAULT NULL,
  `media_viajes` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_marca_rueda`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marca_rueda`
--

LOCK TABLES `marca_rueda` WRITE;
/*!40000 ALTER TABLE `marca_rueda` DISABLE KEYS */;
INSERT INTO `marca_rueda` VALUES (1,'Santos',150.00,23.00,'23','23','23',23),(4,'Michelin',200.00,25.00,'548s','25','Completo',50);
/*!40000 ALTER TABLE `marca_rueda` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal`
--

DROP TABLE IF EXISTS `personal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personal` (
  `id_personal` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_apellido` varchar(150) DEFAULT NULL,
  `mensual` decimal(10,2) DEFAULT 0.00,
  `total` decimal(10,2) DEFAULT 0.00,
  `id_te` int(11) DEFAULT NULL,
  `fecha_contrato` date DEFAULT current_timestamp(),
  `estado` varchar(10) NOT NULL DEFAULT 'Activo',
  PRIMARY KEY (`id_personal`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal`
--

LOCK TABLES `personal` WRITE;
/*!40000 ALTER TABLE `personal` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_reporte`
--

DROP TABLE IF EXISTS `personal_reporte`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personal_reporte` (
  `id_er` int(11) NOT NULL AUTO_INCREMENT,
  `id_personal` int(11) DEFAULT NULL,
  `id_rep` int(11) DEFAULT NULL,
  `fecha_gasto` date DEFAULT NULL,
  `gasto` decimal(10,2) DEFAULT NULL,
  `id_gasto` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_er`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_reporte`
--

LOCK TABLES `personal_reporte` WRITE;
/*!40000 ALTER TABLE `personal_reporte` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_reporte` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `posicion_rueda`
--

DROP TABLE IF EXISTS `posicion_rueda`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `posicion_rueda` (
  `id_pr` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_posicion` varchar(50) NOT NULL DEFAULT '-',
  `placa` varchar(10) NOT NULL,
  `posicion_x` decimal(5,2) NOT NULL DEFAULT 0.00,
  `posicion_y` decimal(5,2) NOT NULL DEFAULT 0.00,
  `tipo` enum('doble','simple') NOT NULL DEFAULT 'simple',
  PRIMARY KEY (`id_pr`)
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `posicion_rueda`
--

LOCK TABLES `posicion_rueda` WRITE;
/*!40000 ALTER TABLE `posicion_rueda` DISABLE KEYS */;
INSERT INTO `posicion_rueda` VALUES (34,'TREE D.E','1234-ABC',76.19,68.33,'doble'),(35,'TREE D.I','1234-ABC',66.19,68.33,'doble'),(36,'ga','1234-ABC',73.55,18.09,'simple'),(37,'ga1','1234-ABC',20.92,18.11,'simple'),(38,'tr Ex','1234-ABC',22.09,68.79,'doble'),(39,'tr In','1234-ABC',12.09,68.79,'doble'),(40,'rtra2','1234-ABC',72.15,78.90,'simple'),(41,'rtra1','1234-ABC',18.52,79.05,'simple');
/*!40000 ALTER TABLE `posicion_rueda` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reporte`
--

DROP TABLE IF EXISTS `reporte`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reporte` (
  `id_rep` int(11) NOT NULL AUTO_INCREMENT,
  `placa` varchar(10) DEFAULT NULL,
  `fecha_partida` date DEFAULT NULL,
  `fecha_retorno` date DEFAULT NULL,
  `fecha_llegada` date DEFAULT NULL,
  `liq_pasajes` decimal(10,2) DEFAULT NULL,
  `liq_encomiendas` decimal(10,2) DEFAULT NULL,
  `diesel_partida` decimal(10,2) DEFAULT NULL,
  `diesel_llegada` decimal(10,2) DEFAULT NULL,
  `dpFactura` tinyint(1) DEFAULT NULL,
  `drFactura` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id_rep`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reporte`
--

LOCK TABLES `reporte` WRITE;
/*!40000 ALTER TABLE `reporte` DISABLE KEYS */;
/*!40000 ALTER TABLE `reporte` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `responsable`
--

DROP TABLE IF EXISTS `responsable`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `responsable` (
  `id_responsable` int(11) NOT NULL AUTO_INCREMENT,
  `id_gasto` int(11) DEFAULT NULL,
  `id_personal` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_responsable`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `responsable`
--

LOCK TABLES `responsable` WRITE;
/*!40000 ALTER TABLE `responsable` DISABLE KEYS */;
/*!40000 ALTER TABLE `responsable` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rueda_detalle`
--

DROP TABLE IF EXISTS `rueda_detalle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rueda_detalle` (
  `id_rd` int(11) NOT NULL AUTO_INCREMENT,
  `id_rl` int(11) NOT NULL,
  `id_marca_rueda` int(11) NOT NULL,
  `codigo` varchar(20) DEFAULT '-',
  `precio_rueda` decimal(10,2) NOT NULL,
  `viajes_hechos` int(11) NOT NULL,
  `estado` enum('Disponible','Operativa','Baja') NOT NULL DEFAULT 'Disponible',
  PRIMARY KEY (`id_rd`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rueda_detalle`
--

LOCK TABLES `rueda_detalle` WRITE;
/*!40000 ALTER TABLE `rueda_detalle` DISABLE KEYS */;
/*!40000 ALTER TABLE `rueda_detalle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rueda_flota`
--

DROP TABLE IF EXISTS `rueda_flota`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rueda_flota` (
  `id_rf` int(11) NOT NULL AUTO_INCREMENT,
  `id_rd` int(11) DEFAULT NULL,
  `placa` varchar(10) NOT NULL DEFAULT '-',
  `id_pr` int(11) DEFAULT NULL,
  `viajes_hechos` int(11) DEFAULT 0,
  `estado` enum('Operativa','Baja') DEFAULT NULL,
  `fecha_instalacion` date DEFAULT NULL,
  `detalle` text NOT NULL,
  PRIMARY KEY (`id_rf`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rueda_flota`
--

LOCK TABLES `rueda_flota` WRITE;
/*!40000 ALTER TABLE `rueda_flota` DISABLE KEYS */;
/*!40000 ALTER TABLE `rueda_flota` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rueda_lote`
--

DROP TABLE IF EXISTS `rueda_lote`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rueda_lote` (
  `id_rl` int(11) NOT NULL AUTO_INCREMENT,
  `precio_total` decimal(10,2) DEFAULT NULL,
  `precio_estimado` decimal(10,2) DEFAULT NULL,
  `precio_real` decimal(10,2) DEFAULT NULL,
  `estado_precio` enum('Subio','Bajo','Mantuvo') DEFAULT NULL,
  `cantidad` int(11) DEFAULT NULL,
  `stock` int(11) DEFAULT NULL,
  `fecha_compra` date DEFAULT NULL,
  `estado` enum('Operativo','Eliminado') NOT NULL,
  PRIMARY KEY (`id_rl`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rueda_lote`
--

LOCK TABLES `rueda_lote` WRITE;
/*!40000 ALTER TABLE `rueda_lote` DISABLE KEYS */;
/*!40000 ALTER TABLE `rueda_lote` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipo_personal`
--

DROP TABLE IF EXISTS `tipo_personal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipo_personal` (
  `id_te` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_tipo_empleado` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id_te`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipo_personal`
--

LOCK TABLES `tipo_personal` WRITE;
/*!40000 ALTER TABLE `tipo_personal` DISABLE KEYS */;
INSERT INTO `tipo_personal` VALUES (1,'Chofer Principal'),(2,'Chofer Auxiliar'),(3,'Ayudante'),(4,'Boletero'),(5,'Ayudante');
/*!40000 ALTER TABLE `tipo_personal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ubicacion`
--

DROP TABLE IF EXISTS `ubicacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ubicacion` (
  `id_ubicacion` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_ubicacion` varchar(25) DEFAULT NULL,
  PRIMARY KEY (`id_ubicacion`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ubicacion`
--

LOCK TABLES `ubicacion` WRITE;
/*!40000 ALTER TABLE `ubicacion` DISABLE KEYS */;
INSERT INTO `ubicacion` VALUES (1,'Cochabamba'),(2,'La Paz'),(3,'Santa Cruz'),(4,'Montero');
/*!40000 ALTER TABLE `ubicacion` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-17 16:55:01
